.caretindicator {
  max-width: 300px;
  margin: 0 -2px; /* -2px: inverse of horizontal margins of .caretindicator:before */
  height: 16px;
  position: absolute;
}

/* caret "bar" */
.caretindicator:before {
  content: "";
  display: block;
  width: 2px;

  /* 15px: same value of INDICATOR_HEIGHT (see caret_indicator.js) */
  height: 15px;
  margin: 15px 1px 0 1px;

  /* make stick & name have the same color */
  background-color: currentColor;
}

/* caret name */
.caretindicator .name {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  /* place name on top of caret bar */
  position: relative;
  margin-top: -30px; /* 2*INDICATOR_HEIGHT */
  padding: 1px 3px;
  /* make stick & name have the same color */
  background-color: currentColor;
}

.caretindicator .name p {
  color: black;
}

/* styles for caret indicator with no visible author */
.caretindicator .name {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  /* animate showing/hiding author name */
  will-change: max-height, max-width;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.caretindicator.no-name .name {
  max-width: 0;
  max-height: 0;
  margin-top: -18px;
  padding: 2px;
}

/* styles for caret indicator with author name below target position */
.caretindicator.stickDown .name {
  margin-top: 0;
}

/* hide caret indicator when pad is disabled */
#outerdocbody.disabled .caretindicator {
  display: none;
}
