.caretindicator {
  max-width:300px;
  margin: -14px 0;
  position:absolute;
  opacity:1;
}

.caretindicator:before {
  content: "";
  display: block;
  width: 2px;
  height: 26px;
  background-color: black;
  opacity: .5;
}

.caretindicator p {
  position:relative;
  margin-top:-24px;
  padding-left:4px;
  padding-right:4px;
}

.caretindicator.stickDown {
  margin-top: 14px;
}
.caretindicator.stickDown:before {
  margin-top: -10px;
}
.caretindicator.stickDown p {
  margin-top: -14px;
}

/* hide caret indicator when pad is disabled */
#outerdocbody.disabled .caretindicator {
  display: none;
}
